.card {
  width: 100%;
  max-width: 40rem;
  display: block;
  margin: 0px auto;
  border: 1px solid var(--secondary-color);
}

h1,
h6 {
  text-align: center;
}

h4 {
  font-size: 20px;
  padding-top: 10px;
  font-weight: 400;
}

.card-subtitle {
  font-size: 15px;
  color: var(--secondary-color) !important;
}

.current-degrees-emoji {
  font-size: 50px;
}

.current-degrees {
  position: relative;
  top: -10px;
  font-size: 40px;
  font-weight: 400;
}

.celsius-fahrenheit {
  font-size: 13px;
  position: relative;
  bottom: 30px;
}

a.degree-unit {
  text-decoration: none;
  color: var(--secondary-color);
}

a.degree-unit:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.border-start {
  border-left: 2px solid var(--primary-color) !important;
  height: 150px;
}
ul {
  list-style: none;
  padding-left: 15px;
}

.today-hours {
  font-weight: 200;
}
