h5,
h6 {
  text-align: center;
}

.card-subtitle {
  font-size: 15px;
  color: var(--secondary-color) !important;
}

.weather {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  position: relative;
  top: -25px;
}

.temperature {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.weather-emoji {
  font-size: 50px;
}

.weather-forecast {
  position: relative;
  top: -10px;
}
