.search {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
  width: 30rem;
}
.search-bar {
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.search-icon {
  color: var(--secondary-color);
}
.search-input {
  border-radius: 4px;
  padding: 5px 10px;
  border: 0.5px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
}
.search-button {
  color: var(--secondary-color);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  padding: 5px 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary-color);
  background-color: #fff;
}
.current-location-button {
  color: #fff;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  padding: 5px 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
}
.search.current-location-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
